---
# @format

# --------
# Version
# --------
version: 2.1

# --------
# Executor
# --------
executors:
  linter:
    docker:
      - image: cimg/node:22.8.0
    resource_class: small

# ----------------------
# Enable dynamic config
# ----------------------
# setup: true

# --------
# Orbs
# --------
# orbs:

# --------
# Jobs
# --------
jobs:
  linter:
  # List of the linter : 
  # * spell-checker by cspell.
    executor:
      name: linter
    steps:
      - checkout
      - run:
          name: Install npm packages
          command: yarn add cspell-cli
      - run:
          name: Run spell-checker
          command: |
            export RESULT=$(./node_modules/.bin/cspell . 2>&1)
            echo "[INFO] result message is $RESULT"
            if echo "$RESULT" | grep -q 'Issues found: 0 in 0 files.'; then
              echo "[INFO] It's ok with the spell-checker."
              exit 0
            else
              echo "[ERROR] There's problem with the spell-checker."
              exit 1
            fi

# -----------
# Workflow
# -----------
workflows:
  always-run:
    jobs:
      - linter
